// ---------------------DEFAULT DARK THEME--------------------- //

// BACKGROUND COLOR //
$white: #fcfffc;
$btn: rgb(178, 177, 177);
$input: rgb(216, 215, 215);
$bg-light: #00ccc5;
// LINK COLOR //
$link-light: #82204a;

// HOVER COLOR //
$hover-light: #f487b6;

// ---------------------DEFAULT DARK THEME--------------------- //

// BACKGROUND COLOR //
$noir: #2f2f2f;
$btn-dark: rgb(71, 65, 65);
$bg-dark: #ef476f;
// LINK COLOR //
$link-dark: #6f58c9;

// HOVER COLOR //
$hover-dark: #7e78d2;